body {
  background-color: bisque;
  margin: auto;
  display: grid; 
  align-items: center;
  justify-content: center;
  text-align: center; 
  height: 100vh; 
  font-weight: 500; 
}

h1 {
  font-family: turnip,serif;
  font-weight: 500;
  font-style: normal;
  color:#d4b314; 
}

.intro-box {
  display: grid;
  grid-template-rows: 1;
  align-items: flex-start;
  
}

.intro-logo {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.progress-invis {
  display: none;
}

.progress {
  width: 75%; 
}

