body {
  background-color: bisque;
  margin: auto;
  display: grid; 
  align-items: center;
  justify-content: center;
  text-align: center; 
  height: 100vh; 
  font-weight: 500; 
}


.intro-logo {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

