body {
  background-color: bisque;
  margin: auto;
  display: grid; 
  align-items: center;
  justify-content: center;
  text-align: center; 
  height: 100vh; 
  font-weight: 500; 
}

h1 {
  font-family: turnip,serif;
  font-weight: 500;
  font-style: normal;
  color:#d4b314; 
}

#intro-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-invis {
  display: none;
}

.the-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.progress {
  display: flex;
  justify-content: center;
  width: 75%; 
  border: #fac10b 3px solid;
}

#intro {
  padding: 10px 75px; 
  margin: auto; 
}


button {
  
  border-radius: 12px;
}
